Never noticed this requirement before. Given that proxies may operate across different latency domains, I don't see how this would be enforceable. (It'd effectively rule out separate responses from them.)


I found it again, but it wasn't about method codes.

[RFC7252, 5.4.1 Options - Critical/Elective](https://www.rfc-editor.org/rfc/rfc7252#section-5.4.1)

>    o Unrecognized options of class "critical" that occur in a
>       Confirmable request MUST cause the return of a 4.02 (Bad Option)
>       response.  This response SHOULD include a diagnostic payload
>       describing the unrecognized option(s) (see [Section 5.5.2](https://www.rfc-editor.org/rfc/rfc7252#section-5.5.2)).
> 
>    o  Unrecognized options of class "critical" that occur in a
>       Confirmable response, or piggybacked in an Acknowledgement, MUST
>       cause the response to be rejected ([Section 4.2](https://www.rfc-editor.org/rfc/rfc7252#section-4.2)).
> 
>    o  Unrecognized options of class "critical" that occur in a Non-
>       confirmable message MUST cause the message to be rejected
>       ([Section 4.3](https://www.rfc-editor.org/rfc/rfc7252#section-4.3)).

Here CON and NON request are handled different, one with an error response, the other with a optional RST.

So, still not that sure, what we should use in case of method codes.

Related to issue #14 

Mailing list:

[Responses to NON with 4.02](https://mailarchive.ietf.org/arch/msg/core/DrTN46-IhZDeCUsZRlFLy05iI0o/)

[RFC7252 - 5.4.1 Critical/Elective](https://mailarchive.ietf.org/arch/msg/core/wd4LleVnnvt2WOXj28ouNZcCTXU/)

(Therefore I remembered that similar discussion.)

[RFC7252 Section 4.3](https://www.rfc-editor.org/rfc/rfc7252#section-4.3) goes on to say
````
                                                                                              Rejecting a Non-
   confirmable message MAY involve sending a matching Reset message, and
   apart from the Reset message the rejected message MUST be silently
   ignored.
````
As this is a `MAY`, this does not preclude the use of a 4.02 (#14) or 4.05 for the response.

So, given that CON and TCP transport respond with 4.02 or 4.05, I do not see why NON `MAY `respond with a 4.02 or 4.05 for consistency across all the variants.

> I do not see 

May point was more, that for the critical options there was a explicit reference to section 4.3, here I was missing that.