Uri-Host vs. SNI in *D*TLS

https://github.com/core-wg/draft-dns-over-coap/pull/50#issuecomment-3044142318

I hope we can "fix" this, ie. publish an update that just adopts the 8323 behavior for DTLS.

I'd be tempted to do it in transport-indication, but so far that has stayed clear of performing any updates to published RFCs. Another good place might be whenever someone writes up the DTLS 1.3 fixes (because while the idea in 7252 was that it's DTLS 1.2 or later, its language is 1.2-specific IIRC).

It'll take some analysis of what kind of misunderstandings can arise from mixing the old behavior and the new behavior, but my gut feeling is that it'll only matter where a host does name based virtual hosting on DTLS, and had that happened, those users would likely have run into this issue and hopefully been verbose about it.

Seems ok to update this also for DTLS. E.g. in a "Coap + DTLS 1.3" update as suggested. Until such update is there, it could be maybe in the corrclar document?

I haven't seen (in my work) yet the use of DTLS+CoAP where a SNI is added by the client - those are all cases where CoAP is used for within-site / network communication, not to the Internet. And in various cases, a hostname of the target server is not known.
An example is the cBRSKI protocol where we explicitly say the client shouldn't include the SNI: https://datatracker.ietf.org/doc/html/draft-ietf-anima-constrained-voucher-28#name-registrar-and-the-server-na 

On Jul 13, 2025, at 16:55, Esko Dijk ***@***.***> wrote:
> 
> Seems ok to update this also for DTLS. E.g. in a "Coap + DTLS 1.3" update as suggested. Until such update is there, it could be maybe in the corrclar document?

I think corrclar is a good place to develop the language for now.
After all we need to build some agreement on whether a "CoAP + DTLS 1.3” needs to be published and what should be in there, which probably needs a year or two.

Grüße, Carsten



[Eclipse/Californium](https://github.com/eclipse-californium/californium/tree/main/scandium-core#supported-rfcs) implemented [RFC6066 Section 3 Server Name Indication
](https://datatracker.ietf.org/doc/html/rfc6066#section-3) end of 2016. We don't forward the hostname from DTLS to CoAP as default for the Uri-Host optionm, but here is a general `EndpointContext.getVirtualHost()` which contains that, if available. 

One of the reasons for implementing it was to use it for multitenancy. In my experience, the practice for multitenancy is more to use common naming rules (e.g. "name@domain") for that. That may have been caused by missing implementation support in the client libraries.

An other reason, implemented later, was to chose the right server x509 certificate in order to be able to do a certificate/hostname verification on the client side.

Supporting "virtual host" (except for multitenancy) wasn't asked too frequently. Especially, if the coap-server and the deduplication state is shared by the "virtual hosts", it may cause some irritation, if the client reuses the same port for different virtual host, but end up unaware at the same coap-server. For multitenancy that's commonly no issue, though a device usually belongs only to one.

From my point of view, adding "defines the default value of Uri-Host to that of SNI if negotiated." will not provide too much benefits.