Uri-Path encoding of trailing slash

Errata ID: [4895](https://www.rfc-editor.org/errata/eid4895)
Type: Editorial
Reported By: Esko Dijk
Date Reported: 2016-12-23

[Section 6.4](https://tools.ietf.org/html/rfc7252#section-6.4) says/should say:

```diff
-Note that these rules completely resolve any percent-encoding.
+Note that these rules completely resolve any percent-encoding. Also
+note that a trailing slash character in the <path> component represents
+a separate, zero-character path segment (see [RFC3986] Section 3.3
+ABNF) and therefore it is encoded using a Uri-Path Option of zero
+length.
```

The current specification for decomposing a URI into CoAP Options (Section 6.4) is correct; however the text may still be unclear to implementers who may think that the phrase "not including the delimiting slash characters" means simply omitting a trailing slash character in the URI path. This is incorrect. See the discussion outcome in email thread https://www.ietf.org/mail-archive/web/core/current/msg08223.html . Therefore, a minor clarification is proposed in the notes after the parsing steps.

coap://foo/bar/ has an empty path segment at the end.  Maybe this needs to be spelled out explicitly once, but that is the meaning of the current text.  ➔ Clarify?

coap://foo/bar/ has an empty path segment at the end.  Maybe this needs to be spelled out explicitly once, but that is the meaning of the current text.  ➔ Clarify?

This definitely needs improved visibility – I've seen two or three implementations already that got this wrong initially. Esko's clarification text sounds fitting to me.

This definitely needs improved visibility – I've seen two or three implementations already that got this wrong initially. Esko's clarification text sounds fitting to me.