May a proxy turn a Uri-Path into a Proxy-Uri?

[Section 5.10.2 of RFC7252](https://datatracker.ietf.org/doc/html/rfc7252#section-5.10.2) describes that a Proxy-Uri can be used instead of a Uri-Path:

> As a special case to simplify many proxy clients, the absolute-URI can be constructed from the Uri-* options.

This allows using Proxy-Uri when the piecemeal options would do. (Obviously, Proxy-Uri is necessary in cases inexpressible by the other options, but that's a different usecase). But *who* may do that? Is it

1. Simple clients as in they are constrained or otherwise plain clients.
2. Any client, if it wants to be simple in that aspect, even if it is a proxy itself.

In [uri-path-abbrev](https://datatracker.ietf.org/doc/draft-ietf-core-uri-path-abbrev/), it becomes visible that 1 is fine, but 2 along with its inverse operation (Proxy-Uri to options, which I think is fine) requires servers to possibly do some extra work.

I have seen the Proxy-Uri option in use, but only in case 1, and have never seen. On its own that's not much, but if the whole working group has not seen any case of 2 in the 10 years it is out, maybe we could clarify that 1 was meant, and that proxies can't just start using Proxy-Uri because they feel like it.

I'm fine with either clarifying outcome. If it is 2, I think that documents such as uri-path-abbrev will contain clauses that state that a server SHOULD do some things, BUT WE KNOW YOU WON'T because it's a lot of work for a case you can't even imagine will hapen.

As I read the 7252 text, "many proxy clients" can use the approach to send piecemeal Uri-* options together with a final Proxy-Scheme option.  This is done instead of a single Proxy-URI option.

With "many" I understand it could be a majority of clients. This seems to contradict the phrasing at the start of the section which says: "The Proxy-Uri Option is used to make a request to a forward-proxy" , implying that this is the most common way to do it. (And not send piecemeal Uri-* options.)

With "proxy client" I understand it to be the CoAP client sending its request to a proxy. And that the client can be a proxy itself.
For both cases, why the piecemeal approach would simplify things, is not clear to me.

Also I'm not sure what you want to propose here as option 1 / case 1: is it the following rules combined
* Original CoAP client can choose to use Proxy-Uri or piecemeal-options
* CoAP proxy that receives piecemeal-options MUST NOT reassemble that into a Proxy-Uri prior to forwarding the request to the next proxy
* CoAP proxy that receives Proxy-URI MUST break down Proxy-URI into piecemeal options prior to forwarding the request to the next proxy

?

Based on current 7252 text, it seems to me that a proxy forwarding to a next proxy has quite some freedom to choose the approach:
* Proxy-Uri is the "typical" way to encode
* Piecemeal-options can be used as an alternative - e.g. if the proxy received piecemeal-options from a client (which could be original client or proxy itself) , then don't bother to reconstruct a Proxy-URI but just forward the piecemeal-options.






I'm not sure, if I mix up the things, but without examples and pretty similar terms, the things may be not that clear.

And to be frank: the use-cases, where proxies are needed, are in my experience rare. For many corporate networks I know, such a coap2coap or coap2http proxy will not be tolerated, because it would require extra resources to understand and run that.

In my understanding:

A client, which needs to send a request via  proxy to a "final destination" must prepare the request in s specific way (as http does as well). Therefore the "final destination" must be somehow "encoded".
The easiest variant is a coap2coap proxy, where the client mainly needs to put the "final host:port" into the uri-host and uri-port options. In this case the proxy may simply forward the request "as it is" (without further modifications) to the final destination. 
If an other, similar/mapping protocol is used as final destination (e.g. coap2http), that may be indicated additional by the proxy-scheme option. And finally, if none of these variants fits, then the generic proxy-uri will be used, excluding then the use of other options with:

"The Proxy-Uri Option MUST take precedence over any of the Uri-Host,
   Uri-Port, Uri-Path or Uri-Query options (each of which MUST NOT be
   included in a request containing the Proxy-Uri Option)."

So, I would consider that a [uri-path-abbrev](https://datatracker.ietf.org/doc/draft-ietf-core-uri-path-abbrev/) will be also excluded when using a proxy-uri, I guess it should also be excluded when using proxy-scheme (not sure, if a mapping makes here sense) and uri-path-abbrev is only forwarded in the coap2coap case (also to keep the function, if the request is forwarded "as it is" to the final destination). There may be an exempt, that a proxy, which knows how to map a `uri-path-abbrev` into the final (none-coap) destination, may do that.

Maybe we need to add also some recommendations for "caching" proxies, because the "cache-key" may be not longer "unique".

> the use-cases, where proxies are needed, are in my experience rare.

Our perceptions differ there, but it's a valuable data point nonetheless: Where there are no proxies, there can none of the behavior I'd like to have ruled out :-)

> In my understanding:

These are correct, but immaterial to the question at hand. If the client itself creates the Proxy-Uri, all is fine because the client will know not to combine it with Uri-Path-Abbrev. It is *only* in 2-proxy scenarios where this could in theory become a problem at all.

> "caching" proxies

(That's probably more of a Uri-Path-Abbrev discussion, but I think it concludes fast here:) Those are already in the document. Note that the cache key has never been a good path towards being unique. In particular, the ETag option is one of those that technically need to be part of the cache key, but as soon as a proxy understands it, it can act on its semantic and not include the option in its effectively computed cache key; the very same is true for Uri-Path-Abbrev. In both cases, things work if the proxy is unaware, but an aware proxy will be able to make better use of its cache.

> Also I'm not sure what you want to propose here as option 1 / case 1: is it the following rules combined

I don't need rule 3 (and rule 1 is barely a rule), but 2, yes.

> For both cases, why the piecemeal approach would simplify things, is not clear to me.

Among other things, it spares the implementation the hassle of getting URI processing right (and work on core-href has shown that many a URI parser won't go all the way, and/or does not do what 3986 says). A general CoAP needs to work with Uri-Path options because they are effectively mandatory in non-proxy requests. Changing between percent encoding and decomposed options *for the general case* is something that's often implemented wrong, and even IETF documents have had their trouble with it. (Exhibit A, RFC6690 that takes web-links but with percent-encoding decoded, but doing that breaks parsability of Link Format).

> Based on current 7252 text, it seems to me that a proxy forwarding to a next proxy has quite some freedom to choose the approach:
>
>    Proxy-Uri is the "typical" way to encode

If that were the case, that'd be unfortunate, because then an unaware proxy would mix Uri-Path-equivalen options up with composite Proxy-Uri. But do we know of any implementation that has ever done that?

There's another document that will also be less bespoke if this is resolved well: transport-indication currently says:

> Given that all URIs this is usable with can be expressed in decomposed CoAP URIs,
the need for using the Proxy-URI option should never arise.
The Proxy-URI option is still equivalent to the decomposed options,
and can be used **if the server supports it**.

(emphasis mine). It is quite quietly introducing that the formal equivalence of the options does not give clients leisure to use Proxy-Uri on a whim.

Trying to summarize some items I heard from this discussion and the IETF 124 CoRE meeting:

- We'd like to clarify, or maybe update RFC 7252 at some point, that a CoAP proxy that receives piecemeal-options MUST NOT reassemble that into a single Proxy-Uri prior to forwarding the request to the next proxy
- We don't know of any (CoAP) proxy implementations that would violate the above rule, so it seems safe to introduce this now.

Another discussion was if a client is expected to use the piecemeal-options if it can; and only use Proxy-Uri for cases where the URI can't be expressed as piecemeal-options. Current RFC 7252 is clearly the opposite: see below text. I'm not sure yet if we want to update 7252 on this aspect? This would be another corr-clar issue in any case, outside of scope of present one.

>    CoAP distinguishes between requests made (as if) to an origin server
>    and requests made through a forward-proxy.  CoAP requests to a
>    forward-proxy are made as normal Confirmable or Non-confirmable
>    requests to the forward-proxy endpoint, but they specify the request
>    URI in a different way: The request URI in a proxy request **is**
>    **specified as a string in the Proxy-Uri Option** (see Section 5.10.2),
>    while the request URI in a request to an origin server is split into
>    the Uri-Host, Uri-Port, Uri-Path, and Uri-Query Options (see
>    Section 5.10.1).  **Alternatively, the URI in a proxy request can be**
>    **assembled from a Proxy-Scheme option** and the split options mentioned.

This is a different discussion from what a CoAP Proxy itself would do, in its role as client, when forwarding the request to the 2nd (or 3rd, etc.) proxy. There is no specific text for this situation currently in RFC 7252 so one *might* expect that the above text applies there as well. But in practice, we find that no proxy so far does this so it would be safe to clarify that this works differently for proxies acting as client to the next  proxy in line.

Also noting that the split options case only allows "coap"and "coaps" as the schemes due to step 3 of the algorithm in Section 6.4 of RFC 7252.  So "coap+ws" or "coap+tcp" would fail the algorithm and can only be included within a Proxy-Uri option. (We also briefly mentioned this in the WG meeting.)  Question: would this need an update to allow all "coap" prefixed schemes, or do we just assume the Proxy-Uri Option is fine for use for these cases?


> Also noting that the split options case only allows "coap"and "coaps" as the schemes due to step 
> 3 of the algorithm in Section 6.4 of RFC 7252. 

This is updated by [RFC 8323 8.6 Decomposing URIs into Options](https://datatracker.ietf.org/doc/html/rfc8323#section-8.6).

URIs will get decoded by the client (when passed via, say, the command line as a parameter) as will as the final server if receipt of a Proxy-Uri option.  It comes down to whether the scheme is known or not - and http / https would be valid if coap2http proxy is supported.  Likewise, I understand that Proxy-Scheme option value has to be known by the (final in the chain) server-side application.

I am beginning to ask myself if we are trying to make usage of Proxy-Uri too restrictive and tying ourselves up in knots.

Certainly Proxy-Uri and Uri-Path-Abbrev cannot be mixed in the same CoAP request.

Outside of that, do we really care if it is used or not (apart from some parsing overhead) as it does not significantly change the space required for the option(s) in the CoAP request (could even be smaller for Proxy-Uri unless Uri-Host is not being used in the piece-meal options).

> This is updated by [RFC 8323 8.6 Decomposing URIs into Options](https://datatracker.ietf.org/doc/html/rfc8323#section-8.6).

@mrdeep1 Thanks for the pointer! So a proxy supporting 8323 would accept these newer schemes.  A pure 7252 proxy would not (given that 8323 doesn't formally update 7252) but it will let the client know about the failure in any case.
Agree that "http", "https" parsing could also be added by a proxy that supports those.

I also don't have a strong preference to what the origin client would need to use: one Proxy-Uri or piecemeal options.  But maybe I'm missing some problem here. (In any case changing this is beyond the scope of the present issue.)


Just as a status summary, this came up in [the 2026-02-11 interim](https://datatracker.ietf.org/doc/minutes-interim-2026-core-03-202602111500/#:~:text=on%20issue%20%2351). Carsten's take was "Proxies are expected to not use the exotic option unless needed", with some positive response from Esko.

I agree that a proxy should not be assembling a Proxy-Uri to pass upstream from a downstream Proxy-Scheme + Uri-* options.

However, the libcoap client has been taking the provided URI and passing it up to a defined proxy server as a Proxy-Uri for many years, so there will be active Client Proxy-Uri usage out there. It was only relatively recently that the libcoap example client had an option added to make use of the Proxy-Scheme as an alternative.

Clients using this to avoid URI splitting is something I've seen in RIOT as well, and that would stay allowed as it was.


With the latest [changes to UPA](https://github.com/core-wg/uri-path-abbrev/pull/38), this issue is not hitting that document as badly as I thought it would – mainly because proxies messing with the path already break things with well-known paths anyway.

I think we should still address this, it's just not as pressing now.